USE [prodaz]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 18.06.2024 23:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] NOT NULL,
	[CategoryName] [varchar](100) NULL,
	[Description] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 18.06.2024 23:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] NOT NULL,
	[CustomerName] [varchar](100) NULL,
	[Address] [varchar](255) NULL,
	[ContactInfo] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 18.06.2024 23:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] NOT NULL,
	[ProductName] [varchar](100) NULL,
	[ProductDescription] [text] NULL,
	[Price] [decimal](10, 2) NULL,
	[CategoryID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 18.06.2024 23:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[SaleID] [int] NOT NULL,
	[SaleDate] [date] NULL,
	[CustomerID] [int] NULL,
	[ProductID] [int] NULL,
	[Quantity] [int] NULL,
	[TotalAmount] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[SaleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (1, N'Машины', N'Продажа машины')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (2, N'Автодетали', N'Продажа деталей')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (3, N'Автохимия', N'Продажа автохимии')
GO
INSERT [dbo].[Customers] ([CustomerID], [CustomerName], [Address], [ContactInfo]) VALUES (1, N'Иван Иванов', N'Москва ул Ленина д 1 кв 10', N'79261234567')
INSERT [dbo].[Customers] ([CustomerID], [CustomerName], [Address], [ContactInfo]) VALUES (2, N'Анна Смирнова', N'Санкт-Петербург пр Невский д 5 кв 15', N'79161234567')
INSERT [dbo].[Customers] ([CustomerID], [CustomerName], [Address], [ContactInfo]) VALUES (3, N'Алексей Петров', N'Екатеринбург ул Советская д 20 кв 7', N'79371234567')
GO
INSERT [dbo].[Products] ([ProductID], [ProductName], [ProductDescription], [Price], [CategoryID]) VALUES (1, N'BMW X5', N'Роскошный внедорожник от BMW', CAST(75000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Products] ([ProductID], [ProductName], [ProductDescription], [Price], [CategoryID]) VALUES (2, N'Toyota Camry', N'RS7', CAST(30000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Products] ([ProductID], [ProductName], [ProductDescription], [Price], [CategoryID]) VALUES (3, N'Honda Civic', N'GA16DS', CAST(25000.00 AS Decimal(10, 2)), 1)
GO
INSERT [dbo].[Sales] ([SaleID], [SaleDate], [CustomerID], [ProductID], [Quantity], [TotalAmount]) VALUES (1, CAST(N'2024-11-25' AS Date), 1, 1, 1, CAST(1.00 AS Decimal(10, 2)))
INSERT [dbo].[Sales] ([SaleID], [SaleDate], [CustomerID], [ProductID], [Quantity], [TotalAmount]) VALUES (2, CAST(N'2025-12-12' AS Date), 2, 2, 1, CAST(2.00 AS Decimal(10, 2)))
INSERT [dbo].[Sales] ([SaleID], [SaleDate], [CustomerID], [ProductID], [Quantity], [TotalAmount]) VALUES (3, CAST(N'2024-06-05' AS Date), 3, 3, 1, CAST(573.00 AS Decimal(10, 2)))
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
